__pycache__/
*.pyc
*.pyo
*.pyd
*.sqlite3
*.log
.DS_Store
.env/
.venv/
.idea/
.vscode/
instance/
*.db

# Uploaded media
gingerblog/static/post_images/
gingerblog/static/profile_pics/

# Environment
sensitive.env
.env
